#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather-item {
  width: 250px;
  height: 400px;
  border: 1px solid firebrick;
  background: #0c202e;
  background: linear-gradient(180deg,rgba(12, 32, 46, 1) 0%, rgba(16, 35, 74, 1) 50%, rgba(43, 65, 173, 1) 100%);
}

.weather-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}